.app {
    position: relative;
    min-height: 100vh;
}

.app-content {
    display: flex;
    max-width: 1080px;
    margin: 0 auto;
    padding: 50px 20px 120px;
}


@media (max-width: 767px) {
    .app-content {
        flex-direction: column;
        padding: 20px 20px 120px;
    }
}