.post-link {
    margin-bottom: 80px;

    .title {
        font-size: 28px;
        line-height: 40px;
    }

    .desc {
        display: flex;
        font-size: 14px;
        color: #888;
        font-weight: 600;
        margin: 5px 0;
    }

    .date {
        margin-right: 10px;
    }

    .tag {
        margin-right: 10px;
        padding: 0 3px;
        text-transform: uppercase;
        font-weight: 600;
        display: flex;
        align-items: center;
        color: #0366d6;
    }

    .abstract {
        margin-bottom: 16px;
    }
}