.sidebar {
    width: 30%;
    padding: 20px;
    border-right: 1px solid #ddd;

    .link {
        color: #0366d6;
    }
}

.avatar {

    img {
        width: 160px;
    }
}

.content {
    padding-bottom: 20px;

    .title {
        font-size: 22px;
        font-weight: bold;
        margin: 10px 0 30px;
    }

    .desc {
        color: #888;
        line-height: 26px;
    }
}

@media (max-width: 767px) {
    .sidebar {
        width: calc(100% - 40px);
        border-right: none;
        padding-bottom: 0;
    }

    .avatar {
        display: flex;
        justify-content: center;
    }

    .content {
        border-bottom: 1px solid #ddd;

        .title {
            text-align: center;
        }
    }
}