.footer {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    border-top: 1px solid #ccc;
    padding: 20px 20px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    background-color: #fff;
    color: #545454;
    position: absolute;
    left: 0;
    bottom: 0;
    width: calc(100% - 40px);

    .copyright {
        font-weight: normal;
    }

    .links {
        a {
            margin: 0 10px;
        }
    }
}

@media (max-width: 767px) {
    .footer {
        flex-direction: column;

        .copyright{
            margin-bottom: 15px;
        }
    }
}